body {
	margin: 0; padding: 0; font-family: Georgia; font-size: 15px;
}

.slide {
	text-align: center;
	position: absolute;
	height: 100%;
	width: 100%;
	display: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.text {
	width: 550px; margin: 100px auto 0px; text-align: left;
}

input, select, button {font-family: Georgia; font-size: 15px;}

button {
	background: url(../images/button_gradient.png);
	border: 1px solid #999;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	margin: 10px;
	padding-left: 5px;
	padding-right: 5px;
	height: 29px;
}
button:active {
	border-left: 1px solid #c9c9c9;
	border-top: 1px solid #c9c9c9;
	background: none;
	background-color: #c9c9c9;
}