html {
	overflow: auto;
}

body {
	margin: 0; padding: 0;
	font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
	font-size: 16px; line-height: 20px;
}

.zen-slide {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	visibility: hidden;
}
 
.zen-slide p {
	width: 500px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: justify;
	line-height: 1.3em;
}

input, select, button {font-family: Georgia; font-size: 15px;}

button.zen {
	background: url(zen-button.png);
	border: 1px solid #999;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	margin: 10px;
	padding-left: 5px;
	padding-right: 5px;
	height: 29px;
}
button.zen:active {
	border-left: 1px solid #c9c9c9;
	border-top: 1px solid #c9c9c9;
	background: none;
	background-color: #c9c9c9;
}